@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-brand-blue: #52BAFF;
  --color-brand-gray-title: #A8A8A8;
  --color-brand-text-dark: #4C4C4C;
  --color-brand-text-muted: #9A9A9A;
  --color-brand-pill-bg: #F7F7F7;
  --color-brand-soft-gray: #EFEFEF;
  --font-bebas: var(--font-bebas-neue), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}
